[submodule "third_party/libdeflate-src"]
	path = third_party/libdeflate-src
	url = https://github.com/ebiggers/libdeflate.git
[submodule "third_party/miniz"]
	path = third_party/miniz
	url = https://github.com/richgel999/miniz.git
